Flask>=3.1,<4
Flask-Login>=0.6,<1
Flask-WTF>=1.2,<2
Flask-SQLAlchemy>=3.1,<4
Flask-Migrate>=4.0,<5
python-dotenv>=1.0,<2
gunicorn>=23,<24
Werkzeug>=3.1,<4
WTForms>=3.2,<4
email-validator>=2.2,<3
pdfplumber>=0.11,<1
pyotp>=2.9
qrcode[pil]>=7.4
